$backgroundColor: white;
$titlesColor: black;
$fontFamily: 'Source Sans Pro', sans-serif;
$fontSizeTitle: 18px;
$fontSizeText: 13px;
$fontSizeSubtext: 11px;
$lightGray: #F0F0F0;
$semilightGray: rgb(177, 177, 177);